/**
 * TodayIndicator Component Styles
 */

.gantt-ti-indicator {
  position: absolute;
  top: -1px;
  bottom: 0;
  z-index: 1;
  width: var(--gantt-today-indicator-width);
  pointer-events: none;
}

.gantt-ti-hitArea {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 8px;
  transform: translateX(-3px);
  pointer-events: auto;
}
