.gantt-dgl-guideLine {
  position: absolute;
  width: 2px;
  background-color: var(--gantt-drag-guide-line-color, #3b82f6);
  z-index: 20;
  pointer-events: none;
  opacity: 0.6;
  left: 0;
  will-change: transform;
}
